body {
    display: flex;
    place-content: center space-around;
}

table {
    padding: 20px;
    color: white;
}

tr {
    padding: 20px;
    background-color: orangered;
}

td {
    padding: 20px;
    text-align: center;
}

tr:nth-child(even) {
    color: black;
    background-color: white;
}