{
  "extends":
  [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "selector-pseudo-class-no-unknown": true,
    "block-no-empty": true,
    "unit-allowed-list": ["%", "pt", "px", "s"],
    "color-no-invalid-hex": true,
    "selector-max-id": 1
  }
}